.pagina-e04 {
  font-family: "Roboto", "Arial";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f6fa;
  .exercicio {
    padding: 60px;
    .titulo {
      .texto {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        text-decoration: none;
        a {
          color: black;
          text-decoration: none;
        }
        h2 {
          margin-left: 10px;
        }
      }

      .faixa {
        background-color: #f75f19;
        height: 4px;
      }
    }

    .descricao {
      background-color: white;
      height: auto;
      border-radius: 12px;
      padding: 20px;
      margin-top: 20px;
      // box-shadow: rgba(100, 100, 111, 0.35) 0px 7px 29px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .formulario {
      width: auto;
      // text-align: end;
      margin-top: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .campos {
        width: auto;
        height: auto;
        display: flex;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: rgba(100, 100, 111, 0.35) 0px 7px 29px 0px;

        .campo {
          & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;  
          }
          label {
            margin-top: 5px;
            align-self: flex-start;
            font-size: 18px;  
            font-weight: bold;
          }
        
          input {
            width: 15em;
            border-radius: 8px;
            border-style: none;
            border: 2px solid #c3c3c3;
            font-size: 24px;
          }
        }
        .executar {
          align-self: flex-end;
          max-width: 100px;
          margin-top: 15px;
          text-decoration: none;
          padding: 10px 20px;
          background-color: #6278f7;
          border: none;
          color: white;
          border-radius: 8px;
        }
      }

      .resultado {
        margin-top: 10px;
      }
    }
  }
}
